/**
 * @file
 * particle_theme.css
 */

:root {
  --black: #000;
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --yelloworange: #f7920c;
  --yellowocher: #e67a00;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-light: #ccc;
  --gray-dark: #5a5c69;
  --primary: #4e73df;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

html {
  height: 100%;
}

html aside a {
  color: var(--white);
  display: block;
  margin-bottom: 10px;
  padding: 15px 0 15px 10px;
  text-decoration: none;
}

html aside .fa-times {
  margin-left: 15px;
  margin-right: 15px;
}

html aside a:hover {
  text-decoration: none;
}

html #block-mainnavigation {
  margin: 19px 0;
}

html .top-details {
  height: auto;
}

@media screen and (min-width: 1024px) {
  html .top-details {
    height: 72px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans-serif);
}

.nav-tabs {
  margin: 15px -5px;
}

.nav-tabs .nav-item {
  display: inline;
  border: 1px solid #eee;
  border-bottom: 3px solid #eee;
  padding: 8px 10px;
  margin: 5px;
}

.layout-container {
  margin: 0;
}

#block-mainnavigation .svg-inline--fa {
  width: 25px;
}

#block-mainnavigation .is-active {
  font-weight: bold;
  background: var(--yellowocher);
  /* border-left: 3px solid var(--yellowocher); */
  color: #fff;
  border-radius: 0 40px 40px 0;
  transition: all 0.3s ease;
}

#block-mainnavigation a:hover {
  background: var(--yellowocher);
  /* border-left: 3px solid var(--yellowocher); */
  color: #fff;
  border-radius: 0 40px 40px 0;
  transition: all 0.3s ease;
}

/* #block-mainnavigation ul {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
} */

html.client .add-page-button {
  display: none;
}

.message-count {
  display: inline-block;
  float: right;
  font-weight: bold;
}

table caption details {
  display: none;
}

.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper {
  display: block;
  width: 100%;
}

#page-left-sidebar h5 {
  text-underline-position: under;
}

button#search-inbox {
  padding: 9px 15px !important;
}

.progress {
  box-shadow: none;
  background: #f0f2f7;
  margin-bottom: 1rem;
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #a0aec0;
  border-radius: .25rem;
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width .6s ease;
}

.bg-warning {
  background-color: #ffc107 !important;
}

.card-header {
  border-color: #eff2f7;
  background: #fff;
  font-size: 15px;
  font-weight: 300;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
      border-bottom-color: rgba(0, 0, 0, 0.125);
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card {
  border: none;
  box-shadow: none;
  margin-bottom: 20px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary, .btn-primary.disabled, .btn-primary[disabled], .btn-primary.disabled.active, .btn-primary.active[disabled] {
  background-color: #41cac0;
  border-color: #41cac0;
  color: #FFFFFF;
}

.stats-icon .svg-inline--fa {
  width: 50px;
  height: 50px;
}

@media (min-width: 400px) {
  .stats-icon .svg-inline--fa {
    width: 100px;
    height: 100px;
  }
}

.top-contents-icon .svg-inline--fa {
  width: 30px;
  height: 30px;
}

.pro-img-box {
  position: relative;
  display: block;
  height: 312px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.pro-img-box img {
  width: 100%;
}

.sidebar-toggle-box {
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 20px;
}

.sidebar-toggle-box .fa-bars {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
}

.navbar-inbox-icon {
  margin: 19px 35px;
}

.navbar-inbox-icon svg {
  font-size: 20px;
}

.badge {
  position: absolute;
  right: -17px;
  top: -8px;
  z-index: 100;
  color: #fff;
  border-radius: 30px;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 100%;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.badge.badge-danger {
  background: #ff6c60;
}

table {
  background-color: var(--white);
}

table header {
  margin-bottom: 25px;
}

table th {
  padding: 15px;
}

table thead {
  border-bottom: 2px solid var(--gray-light);
}

table tr {
  border-bottom: 1px solid var(--gray-light);
}

table td {
  padding: 15px;
}

table th a {
  color: var(--black);
}

.table-wrapper {
  overflow-x: scroll;
}

@media (min-width: 768px) {
  .table-wrapper {
    overflow-x: initial;
  }
}

.avatar,
.avatar a {
  display: block;
  width: 29px;
  height: 29px;
}

.avatar img {
  width: 29px;
  height: 29px;
}

.name {
  font-size: 13px;
}
