{#
/**
 * @file
 * aside
 *
 * Available variables for aside:
 *  - aside.variable_name [variable_type]: Description of the variable. Example below.
 *  - aside.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<aside id="page-left-sidebar" class="transition duration-500 ease-in-out layout-sidebar-first bg-yelloworange min-h-screen w-0 hidden lg:block lg:w-1/6 font-sansserif text-white" role="complementary">
  <i class="fas fa-times cursor-pointer m-2 text-xl block lg:hidden"></i>
  <h5 class="text-white text-center font-sansserif font-bold uppercase mt-10 mb-1 underline">
    Imaginarium Creatives
  </h5>

  {# <div class="ml-10 mr-10 border-b border-white"></div> #}

  {{ sidebar_first }}
</aside>
