{#
/**
 * @file
 * count-box
 *
 * Available variables for count-box:
 *  - count_box.variable_name [variable_type]: Description of the variable. Example below.
 *  - count_box.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

{% if shadow == true %}
  {% set shadow = "shadow-lg" %}
{% endif %}

<div class="count-box flex-grow border rounded m-5 p-5 {{ shadow }}">
  <div class="title mb-5">{{ title }}</div>
  {% if count %}
    <div class="count text-3xl">{{ count|number_format }}</div>
  {% else %}
    No data to display ...
  {% endif %}
</div>
