{#
/**
 * @file
 * hamburger-menu
 *
 * Available variables for hamburger-menu:
 *  - hamburger_menu.variable_name [variable_type]: Description of the variable. Example below.
 *  - hamburger_menu.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div id="nav-icon1" class="block lg:hidden">
  <span class="block w-full"></span>
  <span class="block w-full my-2"></span>
  <span class="block w-full"></span>
</div>
