/**
 * @file
 * inbox.css
 */

.inbox-table td a {
  color: var(--black);
}

.inbox-table td a:hover {
  text-decoration: underline;
}

.inbox-table .pager {
  margin: 20px;
}

.inbox-table .pager__item {
  display: inline;
}

.inbox-table .form-item-field-client-target-id {
  display: none;
}

.inbox-table .js-form-item-body-value {
  display: none;
}

.inbox-table .views-exposed-form #edit-actions {
  display: none;
}

.inbox-table .views-exposed-form .input--text {
  width: 100%;
}

.inbox-table .views-exposed-form .form-item-field-message-tags-target-id {
  display: flex;
  width: 80%;
}

@media screen and (min-width: 768px) {
  .inbox-table .views-exposed-form .form-item-field-message-tags-target-id {
    width: 20%;
  }
}

.inbox-table .views-exposed-form label {
  margin-right: 10px;
}

.inbox-table .views-exposed-form .input--text:focus {
  border-color: none;
  box-shadow: none;
  outline: none;
}

.inbox-table .rows-wrapper {
  display: flex;
  padding-top: 0;
  padding-bottom: 60px;
}

.inbox-table label[for="edit-field-message-tags-target-id"] {
  font-size: 15px;
}
