/**
 * @file
 * products.css
 */

.product-lists {
  margin-top: 20px;
}

.product-lists .views-row {
  width: 100%;
  margin: 20px 0;
}

@media screen and (min-width: 1024px) {
  .product-lists .views-row {
    width: 20%;
    margin: 20px 25px;
  }
}

.views-exposed-form {
  display: none;
}

.product-lists .rows-wrapper {
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 1024px) {
  .product-lists .rows-wrapper {
    margin-left: -25px;
    margin-right: -25px;
  }
}

.pager {
  width: 100%;
  padding: 0 25px;
}

.pager .pager__items {
  display: inline;
}
