{#
/**
 * @file
 * date-range
 *
 * Available variables for date-range:
 *  - date_range.variable_name [variable_type]: Description of the variable. Example below.
 *  - date_range.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="date-range rounded-lg shadow-md w-full">
  <h1 class="font-sansserif text-gray-900 font-semibold text-base p-3 bg-gray-300 rounded-t-lg">
    Date Range
  </h1>
  <div class="flex p-5">
    <div class="flex mr-5">
      <label for="from" class="mr-2">From</label>
      <input type="text" value="" class="date-from border flex-grow px-2">
    </div>
    <div class="flex">
      <label for="to" class="mr-2">To</label>
      <input type="text" value="" class="date-to border flex-grow px-2">
    </div>
    <div class="submit-daterange">
      <button type="button" class="text-white bg-gray-500 rounded-lg mx-2 px-5 py-1 cursor-pointer">
        Apply
      </button>
    </div>
  </div>
</div>
